* {
	margin: 0;
}

body {
	background-color: hsl(0, 0%, 90%);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	color: hsl(202, 55%, 10%);
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 1rem;
}

/* .pokeImg {
	width: 200px;
} */
